/* StartScreen */

#startScreen {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#startScreenLogo p {
    font-size: 50px;
    margin-top: 0;
    color: #003B46;
}

.formButton {
    width: 320px;
    height: 65px;
    background-color: #003B46;
    color: white;
    border: none;
    border-radius: 50px;
    outline: none;
    transition: all 0.2s ease-in-out;
    font-size: 25px;
    cursor: pointer;
}

.formButton:hover {
    transform: scale(1.05);
}

.formButton:active {
    transform: scale(0.95, 0.95);
}

/* Sign In */

#signin {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 0 auto;
    width: 100px;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.form {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form p {
    color: #66A5AD;
}

.alternateFormLink {
    text-decoration: underline;
    cursor: pointer;
}

.alternateFormLink:hover {
    color: #C4DFE6;
}

.alternateFormLink:active {
    color: #003B46;
}

.inputField, .dropdownWrapper {
    width: 550px;
    height: 80px;
    background-color: #C4DFE6;
    color: #66A5AD;
    border: none;
    border-radius: 50px;
    padding: 0 30px;
    margin: 10px auto;
    outline: none;
    font-size: 20px;
}

.dropdown {
    width:550px;
    height:80px;
    border:0px;
    outline:none;
    background-color: transparent;
    font-size: 20px;
    color: #66A5AD
}

.inputField::placeholder { 
    color: rgba(102, 165, 173, 0.5); 
}

.signinError {
    width: 60%;
    border: 2px solid #003B46;
    margin-bottom: 10px;
}

.signinError p {
    color: white;
}

/* Register */

.hide {
    display: none
}

.show {
    display: block;
}

.formError {
    width: 60%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formError p {
    color: white;
    font-size: 20px;
}

.formError .errorIcon {
    width: 50px;
    height: 50px;
    margin: 0;
    margin-right: 20px;
}

.formError .errorIcon img {
    width: 50px;
    height: 50px;
}

/* Home Page */

.homePage {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Calendar */

abbr[title] {
    text-decoration: none;
  }
  
.react-calendar {
    width: 40%;
    height: auto;
    margin: 0;
}

button, abbr {
    font-family: Montserrat;
}

.react-calendar {
    background: none;
    border: none;
}

.react-calendar__tile {
    font-size: 15px;
    height: 100px;
}

.react-calendar__month-view__days__day {
    color: white;
    text-align: top;
}

.react-calendar__month-view__days__day--neighboringMonth abbr {
    color: darkgray;
}

/* Daily Info */

#dailyInfo {
    width: 40%;
}

#time-signout {
    display: flex;
    justify-content: center;
}

#time {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-family: Montserrat;
    color: white;
}

#signout {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#signout button {
    margin-top: 10px;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background: #003B46;
    color: white;
    box-shadow: 1px 5px 10px #07575B;
    outline: none;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#signout button:hover {
    transform: scale(1.05, 1.05);
}

#signout button:active {
    transform: scale(0.95, 0.95);
}

/* Todo List */

#welcome {
    color: #07575B;
    text-align: left;
    margin: 10px auto;
}

#welcome span {
    color: #003B46;
    font-weight: bolder;
}

#today {
    text-align: left;
    width: 80px;
    border-bottom: 4px solid #C4DFE6;
}

#addTask {
    display: flex;
    padding: 10px;
}

#addTask input {
    background: none;
    border: none;
    color: white;
    margin-left: 10px;
    font-size: 15px;
}

#addTask input::placeholder {
    color: rgba(255, 255, 255, 0.35);
}

#addTask button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 23px;
    font-weight: bolder;
    background-color: #003B46;
    border: none;
    color: #C4DFE6;
}

#addTask input, #addTask button {
    outline: none;
}

/* List Items */

#thingsToDo {
    height: auto;
    max-height: 270px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.list {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

.circleButton {
    width: 20px;
    height: 20px;
    border: 2px solid #D7D7D7;
    border-radius: 50%;
    cursor: pointer;
}

.list p {
    width: 80%;
    color: #C4DFE6;
    text-align: left;
    padding: 10px;
    padding-left: 0;
    margin: 0;
    margin-left: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/* Navigation on Home Page */

#navigationBar {
    display: flex;
    justify-content: space-around;
    color: white;
}

#navButtons {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

#navButtons figure {
    width: 100px;
    height: auto;
}

#emergency {
    width: 20%;
}

#navigationBar figure img {
    width: auto;
    height: 60px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#navigationBar figure img:hover {
    transform: scale(1.05, 1.05);
}

#navigationBar figure img:active {
    transform: scale(0.95, 0.95)
}

/* Health */

#healthSection {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#healthData {
    width: 60%;
    height: auto;
}

#routine {
    height: 250px;
    background-color: #003B46;
    border-radius: 20px;
}

#routineHeader {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    padding: 20px;
}

#routineHeader h2 {
    margin: 0;
    margin-left: 30px;
    height: auto;
    color: white;
}

#routineHeader figure {
    margin: 0 20px;
    height: auto;
}

#routineHeader figure, #routineHeader h2 {
    margin-top: 10px;
}

#routineContent {
    display: flex;
    justify-content: center;
}

.routineDay {
    margin: 0 20px;
    color: #C4DFE6;
}

#change {
    position: absolute;
    right: 20px;
    background-color: #C4DFE6;
    color: #003B46;
    border: none;
    width: 120px;
    height: 45px;
    border-radius: 50px;
    outline: none;
    box-shadow: 0px 3px 5px #003B46;
    font-size: 17px;
    font-weight: bold
}

#bglGraph {
    height: 350px;
    background-color: #003B46;
    border-radius: 20px;
}

/* Meal Planner */

.pageDisplay {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pageDisplay section {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.backAndHeading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sectionHeading {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.back {
    position: absolute;
    left: 40px;
    display: flex;
    align-items: center;
}

.back .leftArrow {
    border-right: 40px solid #C4DFE6;
}

.back p {
    margin-left: 15px;
    color: #C4DFE6
}

.chooseMealHome {
    width: 30%;
    height: 400px;
    background-color: #C4DFE6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chooseMealHome figure {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chooseMealHome figure img {
    width: 30%;
    height: auto;
}

.chooseMealHome figure p {
    text-align: center;
}

.chooseMealHome div {
    background-color: #003B46;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

    /* Home Button */

.homeButton {
    width: 30%;
    height: auto;
    margin: 20px auto;
}

.homeButton img {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.homeButton img:hover {
    transform: scale(1.05, 1.05);
}

.homeButton img:active {
    transform: scale(0.95, 0.95);
}

    /* Select Meal */

.pageDisplay {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.pageDisplay h1 {
    font-size: 40px;
}

.filter {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.filter button {
    width: 100px;
    height: 50px;
    margin: 0 10px;
    background-color: #66A5AD;
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
}

.filter .active {
    background-color: #003B46;
}

.availableMeals {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
}

.leftArrow, .rightArrow {
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.rightArrow {
    border-left: 40px solid #003B46;
}

.leftArrow {
    border-right: 40px solid #003B46;
}

.rightArrow:hover, .leftArrow:hover {
    transform: scale(1.05, 1.05);
}

.rightArrow:active, .leftArrow:active {
    transform: scale(0.95, 0.95);
}

.foodCard {
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #C4DFE6;
    border-radius: 25px;
}

.foodCard figure {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.foodCard figure img {
    display: block;
    max-width: 300px; 
    height: 300px;
}

.foodName {
    width: 100%;
    height: 100px;
    background-color: #003B46;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foodName p {
    width: 80%;
    margin: 0 auto;
    color: white;
}

/* Appointment */

.healthProfessionals {
    border-bottom: 2px solid #003B46;
    height: 50vh;
    width: 80%;
    overflow-y: scroll;
}

.professional {
    background-color: #003B46;
    border-radius: 20px;
    width: 60%;
    height: 200px;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    transition: all .2s ease-in-out;
}

.professional:hover {
    transform: scale(1.02);
}

.professional:active {
    transform: scale(0.98);
}

.HPInfo {
    color: white;
    text-align: left;
}

.appointmentArrow {
    position: absolute;
    right: 30px;
    border-left: 40px solid white
}

/* Book Appointment */

#dateSelection {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#selectDate {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003B46;
    color: white;
    border-radius: 60px;
    position: relative;
}

#selectDate .leftArrow {
    border-right: 40px solid white;
    position: absolute;
    left: 30px;
}

#selectDate .rightArrow {
    border-left: 40px solid white;
    position: absolute;
    right: 30px;
}

/* Emergency Call */

#calling {
    font-size: 40px;
    font-weight: bold;
    color: #003B46;
}

#calling span {
    color: #C4DFE6;
}

#cancelCall {
    width: 200px;
    height: 60px;
    background-color: #C4DFE6;
    border-radius: 30px;
    color: #07575B;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    border: none;
    box-shadow: 1px 3px 5px #003B46;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#cancelCall:hover {
    transform: scale(1.05, 1.05);
    background-color: #07575B;
    color: white;
}

#cancelCall:active {
    transform: scale(0.95, 0.95)
}