.homePage {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Calendar */

abbr[title] {
    text-decoration: none;
  }
  
.react-calendar {
    width: 40%;
    height: auto;
    margin: 0;
}

button, abbr {
    font-family: Montserrat;
}

.react-calendar {
    background: none;
    border: none;
}

.react-calendar__tile {
    font-size: 15px;
    height: 100px;
}

.react-calendar__month-view__days__day {
    color: white;
    text-align: top;
}

.react-calendar__month-view__days__day--neighboringMonth abbr {
    color: darkgray;
}

/* Daily Info */

#dailyInfo {
    width: 40%;
}

#time-signout {
    display: flex;
    justify-content: center;
}

#time {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-family: Montserrat;
    color: white;
}

#signout {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#signout button {
    margin-top: 10px;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background: #003B46;
    color: white;
    box-shadow: 1px 5px 10px #07575B;
    outline: none;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#signout button:hover {
    transform: scale(1.05, 1.05);
}

#signout button:active {
    transform: scale(0.95, 0.95);
}

/* Todo List */

#welcome {
    color: #07575B;
    text-align: left;
    margin: 10px auto;
}

#welcome span {
    color: #003B46;
    font-weight: bolder;
}

#today {
    text-align: left;
    width: 80px;
    border-bottom: 4px solid #C4DFE6;
}

#addTask {
    display: flex;
    padding: 10px;
}

#addTask input {
    background: none;
    border: none;
    color: white;
    margin-left: 10px;
    font-size: 15px;
}

#addTask input::placeholder {
    color: rgba(255, 255, 255, 0.35);
}

#addTask button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 23px;
    font-weight: bolder;
    background-color: #003B46;
    border: none;
    color: #C4DFE6;
}

#addTask input, #addTask button {
    outline: none;
}

/* List Items */

#thingsToDo {
    height: auto;
    max-height: 270px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.list {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

.circleButton {
    width: 20px;
    height: 20px;
    border: 2px solid #D7D7D7;
    border-radius: 50%;
    cursor: pointer;
}

.list p {
    width: 80%;
    color: #C4DFE6;
    text-align: left;
    padding: 10px;
    padding-left: 0;
    margin: 0;
    margin-left: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/* Navigation on Home Page */

#navigationBar {
    display: flex;
    justify-content: space-around;
    color: white;
}

#navButtons {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

#navButtons figure {
    width: 100px;
    height: auto;
}

#emergency {
    width: 20%;
}

#navigationBar figure img {
    width: auto;
    height: 60px;
    transition: all .2s ease-in-out;
}

#navigationBar figure img:hover {
    transform: scale(1.05, 1.05);
}

#navigationBar figure img:active {
    transform: scale(0.95, 0.95)
}